body{
    background-color: aquamarine;
    text-align: center;
    margin: 0;
        
}

#profile{
    width: 225px;
    margin-bottom: 50px;
    border-radius: 100px;
    border: 15px;
    border-style: groove;
    border-color: purple;
    margin-top: 50px;
}

h1{
    color: firebrick;
    font-family: serif;
    font-variant: small-caps;
    font-size: 50px;
}


#line{
    height: 5px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
    
    
}

p{
    max-width: 450px;
    margin: 25px auto;
    font-size: 18px;
    line-height: 1.3;
}

#welcome{
    background: linear-gradient(#a6c2ff 0%,#91034f 100%);
    
    

}

